.dark .navbar {
    background: rgb(35, 35, 38);
    box-shadow: 0 .125rem .25rem rgba(255, 255, 255, .11)
}

.dark .home-section {
    background: rgb(33, 34, 37)
}

body.dark,
.dark .docs-toc-link,
.dark .modal button.close,
.dark input {
    color: #f8f8f2;
    background: rgb(33, 34, 37)
}

a:hover {
    text-decoration: underline;
}